.user {
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--text-color-yellow);
  text-align: center;
  line-height: 2.5rem;
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

.info-text {
  font-weight: 500;
}
