.cardBlock {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 1rem 2rem;
  height: 25rem;
  width: 22rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 1rem;

  transition: all 0.4s ease;
  &:hover {
    background-color: rgba(182, 181, 181, 0.8);
  }
  .cardImg {
    width: 12rem;
    height: 7rem;
    border-radius: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    font-size: 1.8rem;
    color: var(--green-color-500);
    margin-top: 1rem;
    text-align: center;
  }
  p {
    max-width: 10rem;
    font-weight: 500;
  }

  button {
    padding: 1rem 2rem;

    border-radius: 8px;
    border-color: var(--green-color-500);
    color: var(--green-color-500);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: white;
    }

    &:active {
      background-color: var(--green-color-500);
      color: white;
    }
  }
  .favIcon {
    cursor: pointer;
    color: rgb(188, 187, 184);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;

    &--clicked {
      color: var(--text-color-yellow);
    }
  }
}
