:root {
  --primary-color: #06171e;
  --second-color-500: #d90057;
  --second-color-300: #ff8c93;
  --second-color-100: #fcccc0;
  --second-color-50: #fdf3f1;
  --second-color-10: rgba(252, 242, 240, 0.5);
  --text-color-yellow: #f2c744;
  --green-color-300: #94a00c;
  --green-color-500: #3d5d68;

  --tablet-width: 768px;
}
